/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
body{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#container, header, footer{
    background-color: white;
}
.container-small{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
/* HEADER */
header{
    height: 12vh;
    width: 100%;
    justify-content: space-between;
}
.play > button{
    padding: 2px 20px;
}

/* MAIN */
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.square:hover{
    cursor: pointer;
}
.click{
    background-color: aqua;
}

/* FOOTER */
footer{
    height: 8vh;
    width: 100%;
    font-size: 1.25em;
}